.root {
  display: grid;
  font-size: 2em;
  font-weight: lighter;
}
.title {
  font-size: 3em;
  font-weight: lighter;
}
.subTitle {
  font-size: 2em;
  font-weight: lighter;
}
.content {
  margin: 0.5em;
  padding: 0.5em;
}
.landingLayout {
  display: grid;
  justify-content: space-around;
  background-color: lightgreen;
}

@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 600px) {
}
