.results {
  padding: 0.5em;
  font-size: large;
  font-weight: lighter;
}
.formlayout {
  display: flex;
  flex-direction: row;
}
.gridList {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .results {
    padding: 0.5em;
    font-size: large;
    font-weight: lighter;
  }
  .formlayout {
    display: flex;
    flex-direction: row;
  }
}
