.menu {
  display: grid;
  justify-content: space-between;
}
.content {
  margin: 0.5em;
  padding: 0.5em;
}
.paragraph {
  margin: 0.5em;
  padding: 0.5em;
}
.title {
  font-size: 3em;
  font-weight: lighter;
}
.subTitle {
  font-size: 2em;
  font-weight: lighter;
}

@media only screen and (max-width: 1024px) {
  .content {
  }
  .paragraph {
  }
  .title {
  }
}
@media only screen and (max-width: 600px) {
  .content {
  }
  .paragraph {
  }
  .title {
  }
}
